

.cartBody{
    position: fixed;
    top: 0;
    right: -100%;
    width: 40%;
    min-height: 100vh;
    padding: 20px;
    background: #fff;
    box-shadow: -2px 0 4px rgba(24, 23, 23, 0.7);
    transition: all .5s;
}

.cartBody.active{
    right: 0;
}







@media only screen and (max-width : 1200px) {

.cartBody {
    width: 40%;
}

}

@media only screen and (max-width : 992px) {


    .cartBody {
            width: 75%;
        }

}

@media only screen and (max-width : 768px) {


    .cartBody {
            width: 75%;
        }

}

@media only screen and (max-width : 576px) {

    .cartBody {
            width: 95%;
        }

}